body {
	font-family: "Arial", sans-serif;
	margin: 0 auto;
	background-image: url("Pawrtnership\ Logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 50%;
	background-position-x: 50%;
	background-position-y: 12vh;
	background-color: #f0f0f0;
	max-width: 40vw;
}

b {
	display: block;
	font-weight: bold;
}

header {
	background-color: #f0f0f0;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 3%;
}

header a {
	display: inline-block;
	padding: 10px 20px;
	color: #333;
	font-weight: bold;
}

header a:hover {
	color: #3e7594;
}

header a.active {
	color: #3e7594;
}

.dog-list-container {
	position: relative;
	max-width: 80vw;
	margin: auto;
	overflow: hidden;
}

.dog-list-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(240, 240, 240, 0.4);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	filter: blur(5px);
	z-index: -1;
	transition: transform 0.3s ease-in-out;
}

form {
	margin-top: 20px;
	text-align: center;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
	color: #555;
	text-align: left;
}

#quiz_body {
	font-family: "Arial", sans-serif;
	margin: 0 auto;
}

#quiz-container {
	position: relative;
	max-width: 80vw;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	border-radius: 20px;
}

#quiz-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(240, 240, 240, 0.8);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	filter: blur(5px);
	z-index: -1;
	transition: transform 0.3s ease-in-out;
}

.question {
	margin-bottom: 15px;
}

.options {
	display: flex;
	justify-content: space-between;
}

input[type="radio"] {
	margin-right: 5px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
	box-sizing: border-box;
}

textarea {
	height: fit-content;
	width: 90%;
	display: block;
	border: 1px solid #ccc;
	border-radius: 14px;
	margin: 0 auto;
	padding: 0.5rem;
}

button {
	margin: 0 auto;
	background-color: #063c54;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	padding: 10px;
}

#reset-btn {
	background-color: red;
	padding: 10px;
	margin-right: 40px;
	display: inline-block;
}

#submit-btn {
	background-color: #063c54;
	display: inline-block;
	padding: 10px;
	margin-left: 40px;
}

button:hover {
	background-color: #3e7594;
}

ul {
	list-style: none;
	padding: 10px;
	margin: 0 auto;
}

#dogDetailsContainer {
	max-width: 80vw;
	margin: 0 auto;
	position: sticky;
	padding: 0 10px 0 10px;
	/* Consolidated padding shorthand */
}

#dogDetailsContainer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(240, 240, 240, 0.8);
	/* Adjust the alpha value (last parameter) */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	filter: blur(5px);
	z-index: -1;
	transition: transform 0.3s ease-in-out;
}

.dog_breed {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dog_breed:hover {
	background-color: #f5f5f5;
}

#dogs_attributes {
	list-style-type: disc;
	margin: 0 auto;
}

#dogs_attributes li {
	margin: 0 auto;
}

.add-dog-container {
	display: block;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 14px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

.add-dog-container form {
	margin-top: 0;
}

.login-container {
	max-width: 20dvw;
	margin: 0 auto;
	text-align: center;
	width: 40vw;
}

/* Media Queries */
@media screen and (max-width: 768px) and (orientation: portrait),
	screen and (max-width: 1024px) and (orientation: landscape) {
	header {
		display: block;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 100%;
	}

	header a {
		margin: 10px 0;
	}

	body {
		max-width: 100%;
		margin: 0 auto;
		height: 100svh;
		overflow: auto;
		background-attachment: fixed;
		background-position-y: 50vh;
		background-size: contain;
	}

	button {
		padding: 20px;
	}

	.quiz-container {
		display: block;
		max-width: 100svw;
		padding-left: 10px;
		padding-right: 10px;
		overflow-y: auto;
		scroll-behavior: smooth;
	}

	.dog-list-container {
		display: block;
		height: 55svh;
		margin: 0 auto;
		overflow-y: auto;
		scroll-behavior: smooth;
	}

	.add-dog-container {
		padding: 15px;
		box-shadow: none;
	}

	.login-container {
		max-width: 70dvw;
		margin: 0 auto;
		text-align: center;
	}

	.dog_breed {
		max-width: 80vw;
		margin: 0 auto;
		margin-top: 10px;
	}

	#reset-btn {
		background-color: red;
		padding: 20px;
		margin-right: 40px;
		display: inline-block;
	}

	#submit-btn {
		background-color: #063c54;
		display: inline-block;
		padding: 20px;
		margin-left: 40px;
	}
}

@keyframes ldio-8kldcctdadd {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.ldio-8kldcctdadd div {
	margin: 0 auto;
	position: absolute;
	animation: ldio-8kldcctdadd 0.9s linear infinite;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #3e7594;
	transform-origin: 80px 82px;
}

.loadingio-spinner-eclipse-qgc0pbfffg {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: transparent;
}

.ldio-8kldcctdadd {
	display: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}

.ldio-8kldcctdadd div {
	margin: 0 auto;
	box-sizing: content-box;
}
